{% extends 'base.html' %}

{% block title %}Dashboard - Alcaluz{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="p-5 mb-4 bg-white rounded-3 shadow-sm border">
            <div class="container-fluid py-2">
                <span class="badge bg-primary px-3 py-2 mb-3">Rol: {{ rol }}</span>
                <h1 class="display-5 fw-bold text-dark">Bienvenido a Alcaluz</h1>
                <p class="col-md-8 fs-4 text-muted">Ha iniciado sesión </p>
                <hr class="my-4">
                
                {% if rol == 'Administrador' %}
                    <div class="alert alert-info d-inline-block">🛡️ Tienes permisos de <strong>Administrador</strong>. Puedes gestionar Reportes.</div>
                    <hr>
                        <a class="btn btn-success" href="{% url 'usuario:generar_reporte_consumo' %}"> Ingresar a reportes</a>              
                        <a class="btn btn-primary" href="{% url 'usuario:registrar_consumo' %}">Ingresar  registros  </a>

                {% elif rol == 'Técnico' %}
                    <div class="alert alert-warning d-inline-block"> ud. tiene  permisos de <strong>Técnico</strong></div>
                        <hr>
                    <a class="btn btn-primary" href="{% url 'usuario:registrar_consumo' %}">
                        Ingresar  registros 
                    </a>

                {% endif %}
     
            </div>
        </div>
    </div>
</div>
{% endblock %}