{% extends 'base.html' %}
{% load static %} {% block title %}Iniciar Sesión - Alcaluz{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuario/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="card login-card shadow-lg text-center">
        <h2 class="login-title">Iniciar Sesión</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger py-2 small border-0 text-white bg-danger bg-opacity-75 rounded-3 mb-4 text-start" role="alert">
                    ⚠️ {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="text-start">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="id_username" class="form-label form-label-custom">Nombre de usuario:</label>
                <input type="text" name="username" id="id_username" class="form-control form-control-custom" placeholder="usuario" value="{{ form.username.value|default:'' }}" required>
            </div>
            
            <div class="mb-4">
                <label for="id_password" class="form-label form-label-custom">Contraseña:</label>
                <input type="password" name="password" id="id_password" class="form-control form-control-custom" placeholder="contraseña" required>
            </div>
            
            <div class="d-grid gap-2 mb-4">
                <button type="submit" class="btn btn-custom text-uppercase">Acceder</button>
            </div>

            <div class="text-center">
                <a href="{% url 'usuario:landing' %}" class="register-link" style="margin-right: 90px;">⬅️  Salir</a>                
                <a href="{% url 'usuario:registro' %}" class="register-link">Clic para crear una cuenta</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}